.one {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(red, blue);
  filter: blur(20);
}
.three {
  height: 55%;
  width: 50%;
  position: absolute;
  border-radius: 2rem;
  background-image: linear-gradient(red, blue);
  top: 25%;
  left: 25%;
  filter: blur(25);
  filter: opacity(0.3);
}
.two {
  height: 55%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.219);
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 2rem;
  box-shadow: 5px 3px 3px rgba(238, 238, 238, 0.158);
  display: flex;
  align-items: center;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  color: rgb(236, 225, 225);
  font-family: monospace;
  position: absolute;
  top: 25%;
  left: 15%;
}
